body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

h1, h2, h3, h4 h5, h6, p {
    margin: 0%;
}

a {
    text-decoration: none;
}

ul, ol {
    list-style-type: none;
}

.logo-header {
    font-family: 'Raleway', sans-serif;
    color: #2E2F42;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-decoration: none;
    text-transform: uppercase;
}

.logo_accent {
    color: #4D5AE5;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-decoration: none;
}


.header_link {
    color: #2E2F42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.address {
    color: #434455;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.section1 {
    background-color: #2E2F42;
}

.title {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
}

.button {
    background-color: #4D5AE5;
    color: #fff;
    margin: auto;
    cursor: pointer;
    border: none;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.button:hover {
    background-color: #404BBF;
}

.button:focus {
    background-color: #404BBF;
}

.advantages {


}

.advantages-list{
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.7;
    letter-spacing: 0.02em;
}

.advantages-text {
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.advantage-subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    margin-bottom: 8px;
    font-weight: 500;
    line-height: 1.2;
}
.team {
    background-color: #F4F4FD;
}

.title-1 {
    color: #2E2F42;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
}

.team-foto {
    background-color:  #FFFFFF;
}

.name {
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.subtitle {
   color: #434455;
   font-weight: 400;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
}

.portfolio {
    margin: 120px 0;
}

.title-2 {
    color: #2E2F42;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.portfolio-foto {
 
}

.caption {
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.subtitle1 {
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.logo-footer {
    font-family: 'Raleway', sans-serif;
    color: #F4F4FD;
    text-decoration: none;
    line-height: 1.17;
    text-transform: uppercase;
}

.footer {
    background-color: #2E2F42;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    margin: 120px 0;
}

.text-footer {
    color: #F4F4FD;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}