body {
    font-family: 'Roboto', sans-serif;
    color: #2E2F42;
}

h1, h2, h3, h4 h5, h6, p {
    margin: 0%;
}

a {
    text-decoration: none;
}

ul, ol {
    list-style-type: none;
}

.logo-header {
    color: #2E2F42;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.logo_accent {
    color: #4D5AE5;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-decoration: none;
}


.header_link {
    color: #2E2F42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-decoration: none;
    gap: 40px;
}

.address {
    color: #434455;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    height: 24px;
    top: 24px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-decoration: none;
    gap: 40px;
}

.section1 {
    background-color: #2E2F42;
    width: 1440px;
    height: 600px;
    top: 72px;
}

.title {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    padding: 188px 0;
}

.button {
    background-color: #4D5AE5;
    color: #fff;
    margin: auto;
    display: block;
    padding-top: 16px;
    padding-right: 32px;
    padding-bottom: 16px;
    padding-left: 32px;
    cursor: pointer;
    border: none;
}

.advantages {
    padding: 120px 0;
}

.advantages-list{
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.7;
    letter-spacing: 0.02em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 24px;
    justify-content: center;
}

.advantages-text {
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 264px;
}

.advantage-subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    margin-bottom: 8px;
}
.team {
    background-color: #F4F4FD;
    width: 1440px;
    height: 732px;
    top: 1016px;
    gap: 0px;
    opacity: 0px;

}

.title1 {
    color: #2E2F42;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
    padding: 120px 0;
}

.team-foto {
    width: 264px;
    height: 260px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 24px;
    padding: 72px 0;
    padding-left: 156px 0;
}

.name {
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
}

.subtitle {
   color: #434455;
   font-weight: 400;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   align-items: center;
   text-align: center;
}

.portfolio {
    margin: 120px 0;
}

.title2 {
    color: #2E2F42;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

.portfolio-foto {
    width: 360px;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 24px;
}

.caption {
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
}

.subtitle1 {
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

.logo-footer {
    color: #F4F4FD;
    text-decoration: none;
}

.footer {
    background-color: #2E2F42;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    margin: 120px 0;
    width: 1440px;
    height: 312px;
}

.text-footer {
    color: #F4F4FD;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}